<div id="footer">
	<div class="footer-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-7">
					<h4>About</h4>

					<p>Web & Graphic Designer that enjoys creating beautiful things with the latest technologies.</p>
					<p><a href="http://www.vanessaamilet.com/about">Learn more &#65515;</a></p>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>Get In Touch</h4>
					<ul class="contacts">
						<li>
							<i class="fa fa-map-marker contact"></i>
							Houston, Texas
						</li>
						<li>
							<i class="fa fa-mobile contact"></i>
							<a href="tel:+12819089361">(281) 908 - 9361</a>
						</li>
						<li>
							<i class="fa fa-envelope-o contact"></i>
							<a href="mailto:vanessa.amilet@gmail.com">vanessaamilet@gmail.com</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>Follow</h4>
					<ul class="social">
						<li class="facebook">
							<a href="https://www.facebook.com/vanessaamilet"><i class="fa fa-facebook"></i></a>
						</li>
						<li class="twitter">
							<a href="https://twitter.com/vanessaamilet"><i class="fa fa-twitter"></i></a>
						</li>
						<li class="linkedin">
							<a href="https://www.linkedin.com/in/vanessaamilet"><i class="fa fa-linkedin"></i></a>
						</li>
						<li class="google-plus">
							<a href="https://plus.google.com/+VanessaAmiletSantos1/"><i class="fa fa-google-plus"></i></a>
						</li>
						<li class="instagram">
							<a href="https://instagram.com/van_amilet/"><i class="fa fa-instagram"></i></a>
						</li>
						<li class="github">
							<a href="https://github.com/vanessaamilet"><i class="fa fa-github"></i> </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--/ .footer-wrapper -->
	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="credit pull-left">Made with <i class="fa fa-heart"></i> in Texas. &copy; 2016 Vanessa Amilet Santos.</p>
				</div><!--/ .col-md-6 -->
				<div class="col-md-6">
					<nav class="footer-nav">
						<ul class="pull-right">
							<li><a href="http://www.vanessaamilet.com/">Home</a></li>
							<li><a href="http://www.vanessaamilet.com/about">About</a></li>
							<li><a href="http://www.vanessaamilet.com/websites">Websites</a></li>
							<li><a href="http://www.vanessaamilet.com/graphics">Graphics</a></li>
							<li><a href="http://www.vanessaamilet.com/media-and-interactivity">Media</a></li>
							<li><a href="http://www.vanessaamilet.com/contact">Contact</a></li>
						</ul>
					</nav>
				</div><!--/ .col-md-6 -->
			</div><!--/ .row -->
		</div>
	</div><!--/ .sub-footer -->
</div><!-- /#footer -->