section.get-started
	.container
		.row.justify-content-center
			.col-md-10.col-lg-12
				.squiggle
				h2.mx-auto Let’s create something great together.
				p.lead.text-center If you’re ready to transform your idea into an intuitive digital experience, I’m here to help. 
		.row
			.col-lg-12
				.text-center
					= link_to "Let's Work Together", contact_path, :class=>"btn btn-primary mr-3 center mb-4"
					p = link_to "Have any questions?", faqs_path, :class=>"cta"