/ <script src="./SnapSVGAnimator/js/vendor/snap.svg/snap.svg-min.js"></script>
/ <script src="./SnapSVGAnimator/js/SnapSVGAnimator.min.js"></script>
javascript:
	var jsonfile = "../../assets/javascripts/icons.json",
            fps = 24,
            width = 550,
            height = 400,
            AJAX_req;

    AJAX_JSON_Req(jsonfile);

    function handle_AJAX_Complete() {
        if( AJAX_req.readyState == 4 && AJAX_req.status == 200 )
        {
            json = JSON.parse(AJAX_req.responseText);
            comp = new SVGAnim(
                           json,
                           width,
                           height,
                           fps
                           );
            
        }
    }

    function AJAX_JSON_Req( url )
    {
        AJAX_req = new XMLHttpRequest();
        AJAX_req.open("GET", url, true);
        AJAX_req.setRequestHeader("Content-type", "application/json");
        
        AJAX_req.onreadystatechange = handle_AJAX_Complete;
        AJAX_req.send();
    }

body onload="init();" style="margin:0px;"
	<div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:; height:">
		<canvas id="canvas" width="" height="" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
		<div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:; height:; position: absolute; left: 0px; top: 0px; display: block;">
		</div>
	</div>
